@font-face {
  font-family: "Ocra";
  src: url("../fonts/OcrA.otf");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Ocra;
}

#upper-header {
  margin: 0;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 1;
}

#logo {
  margin-top: 0;
  padding-top: 0;
  display: inline-block;
  min-width: 5%;
}

#logo img {
  height: 40px;
  width: auto;
  padding-left: 50%;
  margin-left: -20px;
}

#player-control {
  display: inline-block;
  z-index: 1000;
}

#player-control img {
  width: auto;
  height: 25px;
  vertical-align: super;
  z-index: 1000;
}

#player-info-container {
  margin: 0;
  display: inline-block;
  position: relative;
  /* background-color: red; */
  margin-top: -0.2%;
  margin-left: 3%;
  height: 38px;
  color: white;
  position: absolute;
  width: 85vw;
  margin-left: 3%;
  overflow: hidden;
}

#player-info-container p {
  width: 85vw;
  white-space: nowrap;
}

#first{
  margin-left: 40vw;
  position:absolute;
  z-index: 10;
}

#about {
  width: 100vw;
}

#about img{
  width: 500px;
  height: auto;
  margin-left: -250px;
  padding-left: 50%;
  padding-top: 5%;
}

#subscription {
  width: 100%;
  height: 25vh;
}

#subscription img {
  width: 200px;
  margin-left: -100px;
  padding-left: 50%;
  padding-top: 5%;
}

#mentions {
  color: #D1D1D1;
  font-size: 0.6em;
  padding-left: 2vw;
}
